<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<div th:insert="fragments/navbar"></div><br>
<div class="container">
    <div th:each="sublist : ${ticket}">
        <h1 th:text="${sublist}"></h1>
    </div>
    <form th:action="@{/description}" method="post">
        <label for="description">Enter Description:</label><br>
        <input type="text" id="description" name="description" required><br><br>
        <input type="hidden" name="id" th:value="${id}">

        <button type="submit">Submit</button>
    </form>

    <script th:if="${success}">
        Swal.fire({
            title: 'Succès!',
            text: 'La a été ajouté avec succès.',
            icon: 'success',
            confirmButtonText: 'OK'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = '/';

            }
        });
    </script>

</div>
</body>
</html>